################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CakeOrder/bin/Debug
/CakeOrder/obj/Debug
/.vs/CakeOrder/v14/.suo
